@import "tailwindcss";

@layer base {
  @variant not-dark {
    :root {
      --bg-default: hsl(0, 0%, 90%);
      --bg-surface: hsl(0, 0%, 95%);
      --bg-highlight: hsl(0, 0%, 100%);
      --text-default: hsl(0, 0%, 5%);
      --text-muted: hsl(0, 0%, 30%);
    }
  }

  @variant dark {
    :root {
      --bg-default: hsl(0, 0%, 10%);
      --bg-surface: hsl(0, 0%, 15%);
      --bg-highlight: hsl(0, 0%, 25%);
      --text-default: hsl(0, 0%, 95%);
      --text-muted: hsl(0, 0%, 70%);
    }
  }

  body {
    background-color: var(--bg-default);
    color: var(--text-default);
  }

  button,
  a {
    cursor: pointer;
  }
  label {
    cursor: text;
  }
}

@theme inline {
  --color-bg: var(--bg-default);
  --color-surface: var(--bg-surface);
  --color-highlight: var(--bg-highlight);

  --color-fg: var(--text-default);
  --color-muted: var(--text-muted);
}

@layer components {
  .btn {
    @apply bg-surface px-4 py-2 shadow rounded hover:scale-105 transition-all duration-200 ease-linear hover:bg-highlight hover:font-bold;
  }
}
